MYSQL_DATABASE=RobustBookingDb
MYSQL_USER=robust_user
MYSQL_PASSWORD=your_strong_password
MYSQL_ROOT_PASSWORD=your_root_password

JWT_KEY=your_super_secret_key_very_long
JWT_ISSUER=RobustBookingSystem
JWT_AUDIENCE=RobustBookingSystemClient